<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egao.base.mapper.ScroomMapper">

    <!-- 关联查询sql -->
    <sql id="relSelect">
        SELECT a.*
        FROM tb_scroom a
        <where>
            <if test="page!=null and page.pageData!=null">
				<if test="page.pageData.id != null">
					AND a.id = #{page.pageData.id}
				</if>
				<if test="page.pageData.floor != null">
                    AND a.floor LIKE CONCAT('%', #{page.pageData.floor}, '%')
				</if>
				<if test="page.pageData.houseNumber != null">
                    AND a.house_number LIKE CONCAT('%', #{page.pageData.houseNumber}, '%')
				</if>
				<if test="page.pageData.status != null">
                    AND a.status LIKE CONCAT('%', #{page.pageData.status}, '%')
				</if>
				<if test="page.pageData.comments != null">
                    AND a.comments LIKE CONCAT('%', #{page.pageData.comments}, '%')
				</if>
                <if test="page.pageData.deleted!=null">
                    AND a.deleted = #{page.pageData.deleted}
                </if>
                <if test="page.pageData.deleted==null">
                    AND a.deleted = 0
                </if>
                <if test="page.pageData.createTimeStart!=null">
                    AND a.create_time &gt;= #{page.pageData.createTimeStart}
                </if>
                <if test="page.pageData.createTimeEnd!=null">
                    AND a.create_time &lt;= #{page.pageData.createTimeEnd}
                </if>
            </if>
        </where>
    </sql>

    <!-- 分页查询 -->
    <select id="listPage" resultType="com.egao.base.entity.Scroom">
        <include refid="relSelect"></include>
    </select>

    <!-- 查询全部 -->
    <select id="listAll" resultType="com.egao.base.entity.Scroom">
        <include refid="relSelect"></include>
    </select>

</mapper>
