<!DOCTYPE html>
<html>
<head>
  <:include file="../common/css.html" title="课程信息表管理"/>
</head>
<body>
<!-- 正文开始 -->
<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body">
      <!-- 表格工具栏 -->
      <form class="layui-form toolbar">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">课程名称:</label>
            <div class="layui-input-inline">
              <input name="courseName" class="layui-input" placeholder="输入课程名称"/>
            </div>
          </div>
          <div class="layui-inline">&emsp;
            <button class="layui-btn icon-btn" lay-filter="courseTbSearch" lay-submit>
              <i class="layui-icon">&#xe615;</i>搜索
            </button>
          </div>
        </div>
      </form>
      <!-- 数据表格 -->
      <table id="courseTable" lay-filter="courseTable"></table>
    </div>
  </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="courseTbBar">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="finish">结束使用</a>
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs"
     data-dropdown="#courseTbDelDrop{{d.LAY_INDEX}}" no-shade="true">删除</a>
  <div class="dropdown-menu-nav dropdown-popconfirm dropdown-top-right layui-hide"
       id="courseTbDelDrop{{d.LAY_INDEX}}"
       style="max-width: 200px;white-space: normal;min-width: auto;margin-left: 10px;">
    <div class="dropdown-anchor"></div>
    <div class="dropdown-popconfirm-title">
      <i class="layui-icon layui-icon-help"></i>
      确定要删除吗？
    </div>
    <div class="dropdown-popconfirm-btn">
      <a class="layui-btn" btn-cancel>取消</a>
      <a class="layui-btn layui-btn-normal" lay-event="del">确定</a>
    </div>
  </div>
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="courseEditDialog">
  <form id="courseEditForm" lay-filter="courseEditForm" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <div class="layui-form-item">
      <label class="layui-form-label layui-form-required">课程名称:</label>
      <div class="layui-input-block">
        <input name="courseName" placeholder="请输入课程名称" class="layui-input"
               lay-verify="required" required/>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label layui-form-required">授课教室:</label>
      <div class="layui-input-block">
        <select name="classNo">
          <option value="">请选择</option>
          <:for items="${scroomList}" var="item">
            <option value="${item.id}">${item.comments}</option>
          </:for>
        </select>
      </div>
    </div>
    <div class="layui-form-item text-right">
      <button class="layui-btn" lay-filter="courseEditSubmit" lay-submit>保存</button>
      <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
    </div>
  </form>
</script>
<:include file="../common/js.html"/>
<script>
  layui.use(['layer', 'form', 'table', 'tableX', 'util', 'admin', 'dropdown'], function () {
    var $ = layui.jquery;
    var layer = layui.layer;
    var form = layui.form;
    var table = layui.table;
    var tableX = layui.tableX;
    var util = layui.util;
    var admin = layui.admin;

    /* 渲染表格 */
    var insTb = tableX.render({
      elem: '#courseTable',
      url: '${ctxPath}/teacher/course/page',
      page: true,
      toolbar: ['<p>',
        '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>&nbsp;',
        '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>删除</button>',
        '</p>'].join(''),
      cellMinWidth: 100,
      cols: [[
        {type: 'checkbox'},
        {type: 'numbers'},
        {field: 'courseName', title: '课程名称', sort: true},
        {field: 'teacherName', title: '授课教师', sort: true},
        {field: 'className', title: '授课教室', sort: true},
        {
          field: 'createTime', title: '创建时间', templet: function (d) {
            return util.toDateString(d.createTime);
          }, sort: true
        },
        {
          title: '操作', align: 'center', toolbar: '#courseTbBar', width: 200, minWidth: 200
        }
      ]]
    });

    /* 表格搜索 */
    form.on('submit(courseTbSearch)', function (data) {
      insTb.reload({where: data.field, page: {curr: 1}});
      return false;
    });

    /* 表格工具条点击事件 */
    table.on('tool(courseTable)', function (obj) {
      if ('edit' === obj.event) { // 修改
        showEditModel(obj.data);
      } else if ('del' === obj.event) { // 删除
        doDel(obj);
      } else if ('finish' === obj.event) {
        $.get('${ctxPath}/base/course/updateStatus', {classNo: obj.data.classNo, id: obj.data.id}, function (res) {
          if (0 === res.code) {
            layer.msg(res.msg, {icon: 1});
            insTb.reload({page: {curr: 1}});
          } else {
            layer.msg(res.msg, {icon: 2, anim: 6});
          }
        });
      }
    });

    /* 表格头工具栏点击事件 */
    table.on('toolbar(courseTable)', function (obj) {
      if ('add' === obj.event) { // 添加
        showEditModel();
      } else if ('del' === obj.event) { // 删除
        var checkRows = table.checkStatus('courseTable');
        if (0 === checkRows.data.length) {
          return layer.msg('请选择要删除的数据', {icon: 2, anim: 6});
        }
        var ids = checkRows.data.map(function (d) {
          return d.id;
        });
        doDel({ids: ids});
      }
    });

    /* 显示表单弹窗 */
    function showEditModel(mData) {
      admin.open({
        type: 1,
        title: (mData ? '修改' : '添加') + '课程信息',
        content: $('#courseEditDialog').html(),
        success: function (layero, dIndex) {
          // 禁止出现滚动条
          $(layero).children('.layui-layer-content').css('overflow', 'visible');
          // 回显表单数据
          form.val('courseEditForm', mData);
          // 表单提交事件
          form.on('submit(courseEditSubmit)', function (data) {
            var loadIndex = layer.load(2);
            $.post(mData ? '${ctxPath}/teacher/course/update' : '${ctxPath}/teacher/course/save', data.field, function (res) {
              layer.close(loadIndex);
              if (0 === res.code) {
                layer.close(dIndex);
                layer.msg(res.msg, {icon: 1});
                insTb.reload({page: {curr: 1}});
              } else {
                layer.msg(res.msg, {icon: 2, anim: 6});
              }
            });
            return false;
          });
        }
      });
    }

    /* 删除 */
    function doDel(obj) {
      if (obj.ids) {  // 批量删除
        admin.confirm('确定要删除选中数据吗？', function (i) {
          layer.close(i);
          var loadIndex = layer.load(2);
          admin.req('${ctxPath}/teacher/course/removeBatch', JSON.stringify(obj.ids), function (res) {
            layer.close(loadIndex);
            if (0 === res.code) {
              layer.msg(res.msg, {icon: 1});
              insTb.reload({page: {curr: 1}});
            } else {
              layer.msg(res.msg, {icon: 2, anim: 6});
            }
          }, 'post');
        });
      } else {  // 单个删除
        var loadIndex = layer.load(2);
        $.get('${ctxPath}/teacher/course/remove', {id: obj.data.id}, function (res) {
          layer.close(loadIndex);
          if (0 === res.code) {
            layer.msg(res.msg, {icon: 1});
            insTb.reload({page: {curr: 1}});
          } else {
            layer.msg(res.msg, {icon: 2, anim: 6});
          }
        });
      }
    }

    window.refreshTab = function () {
      insTb.reload();
    }
  });
</script>
</body>
</html>