<!DOCTYPE html>
<html>
<head>
  <:include file="../common/css.html" title="学生管理"/>
</head>
<body>
<!-- 正文开始 -->
<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body">
      <!-- 表格工具栏 -->
      <form class="layui-form toolbar" lay-filter="userTbSearchForm">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">学&emsp;号:</label>
            <div class="layui-input-inline">
              <input name="idCard" class="layui-input" placeholder="输入学号"/>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">姓名:</label>
            <div class="layui-input-inline">
              <input name="trueName" class="layui-input" placeholder="输入姓名"/>
            </div>
          </div>
          <div class="layui-inline">&emsp;
            <button class="layui-btn icon-btn" lay-filter="userTbSearch" lay-submit>
              <i class="layui-icon">&#xe615;</i>搜索
            </button>
          </div>
        </div>
      </form>
      <!-- 数据表格 -->
      <table id="userTable" lay-filter="userTable"></table>
    </div>
  </div>
</div>


<!-- 表单弹窗 -->
<script type="text/html" id="userEditDialog">
  <form id="userEditForm" lay-filter="userEditForm" class="layui-form model-form">
    <input name="userId" type="hidden"/>
    <div class="layui-form-item">
      <label class="layui-form-label layui-form-required">账号:</label>
      <div class="layui-input-block">
        <input name="username" placeholder="请输入账号" class="layui-input"
               lay-verify="required" required id="userName"/>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label layui-form-required">姓名:</label>
      <div class="layui-input-block">
        <input name="trueName" placeholder="请输入姓名" class="layui-input "
               lay-verify="required" required/>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label layui-form-required">学号:</label>
      <div class="layui-input-block">
        <input name="idCard" placeholder="请输入学号" class="layui-input"
               lay-verify="required" required/>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label layui-form-required">登录密码:</label>
      <div class="layui-input-block">
        <input name="password" type="password" placeholder="请输入登录密码" class="layui-input"
               lay-verify="required|password" required/>
      </div>
    </div>
    <div class="layui-form-item text-right">
      <button class="layui-btn" lay-filter="userEditSubmit" lay-submit>保存</button>
      <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
    </div>
  </form>
</script>
<script type="text/html" id="userTbBar">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="room">宿舍分配</a>
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="class">班级分配</a>
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs"
     data-dropdown="#userTbDelDrop{{d.LAY_INDEX}}" no-shade="true">删除</a>
  <div class="dropdown-menu-nav dropdown-popconfirm dropdown-top-right layui-hide"
       id="userTbDelDrop{{d.LAY_INDEX}}"
       style="max-width: 200px;white-space: normal;min-width: auto;margin-left: 10px;">
    <div class="dropdown-anchor"></div>
    <div class="dropdown-popconfirm-title">
      <i class="layui-icon layui-icon-help"></i>
      确定要删除{{d.nickName}}吗？
    </div>
    <div class="dropdown-popconfirm-btn">
      <a class="layui-btn" btn-cancel>取消</a>
      <a class="layui-btn layui-btn-normal" lay-event="del">确定</a>
    </div>
  </div>
</script>
<script type="text/html" id="roomDialog">
  <form id="roomForm" lay-filter="userEditForm" class="layui-form model-form">
    <input name="studentNo" type="hidden" id="idCard"/>
    <div class="layui-form-item">
      <label class="layui-form-label layui-form-required">宿舍编号:</label>
      <div class="layui-input-block">
        <select name="roomNo">
          <option value="">请选择</option>
          <:for items="${roomList}" var="item">
            <option value="${item.id}">${item.roomNo}</option>
          </:for>
        </select>
      </div>
    </div>
    <div class="layui-form-item text-right">
      <button class="layui-btn" lay-filter="roomSubmit" lay-submit>保存</button>
      <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
    </div>
  </form>
</script>
<script type="text/html" id="classDialog">
  <form id="classForm" lay-filter="userEditForm" class="layui-form model-form">
    <input name="userId" type="hidden" id="userId"/>
    <div class="layui-form-item">
      <label class="layui-form-label layui-form-required">班级编号:</label>
      <div class="layui-input-block">
        <select name="classNo">
          <option value="">请选择</option>
          <:for items="${classList}" var="item">
            <option value="${item.id}">${item.classNo}---${item.className}</option>
          </:for>
        </select>
      </div>
    </div>
    <div class="layui-form-item text-right">
      <button class="layui-btn" lay-filter="classSubmit" lay-submit>保存</button>
      <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
    </div>
  </form>
</script>
<:include file="../common/js.html"/>
<script>
  layui.use(['layer', 'form', 'table', 'tableX', 'util', 'admin', 'xmSelect', 'formX', 'dropdown', 'upload'], function () {
    var $ = layui.jquery;
    var layer = layui.layer;
    var form = layui.form;
    var table = layui.table;
    var tableX = layui.tableX;
    var util = layui.util;
    var admin = layui.admin;
    var xmSelect = layui.xmSelect;

    /* 渲染表格 */
    var insTb = tableX.render({
      elem: '#userTable',
      url: '${ctxPath}/base/student/page',
      page: true,
      toolbar: ['<p>',
        '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>&nbsp;',
        '</p>'].join(''),
      cellMinWidth: 120,
      cols: [[
        {type: 'numbers'},
        {field: 'username', title: '账号', sort: true},
        {field: 'trueName', title: '姓名', sort: true},
        {field: 'idCard', title: '学号', sort: true},
        {field: 'className', title: '班级', sort: true},
        {field: 'roomName', title: '宿舍', sort: true},
        {
          field: 'createTime', title: '创建时间', templet: function (d) {
            return util.toDateString(d.createTime);
          }, sort: true, width: 160
        },
        {title: '操作', toolbar: '#userTbBar', align: 'center', width: 300}
      ]]
    });

    /* 表格搜索 */
    form.on('submit(userTbSearch)', function (data) {
      insTb.reload({where: data.field, page: {curr: 1}});
      return false;
    });

    /* 表格工具条点击事件 */
    table.on('tool(userTable)', function (obj) {
      if ('edit' === obj.event) { // 修改
        showEditModel(obj.data);
      } else if ('del' === obj.event) { // 删除
        doDel(obj);
      } else if ('room' === obj.event) { // 分配宿舍
        admin.open({
          type: 1,
          title: '宿舍分配',
          area: ["450px", "300px"],
          content: $('#roomDialog').html(),
          success: function (layero, dIndex) {
            // 禁止出现滚动条
            $(layero).children('.layui-layer-content').css('overflow', 'visible');
            $('#idCard').val(obj.data.idCard);
            form.render('select');
            // 表单提交事件
            form.on('submit(roomSubmit)', function (data) {
              var loadIndex = layer.load(2);
              $.post('${ctxPath}/base/studentRoom/save', data.field, function (res) {
                layer.close(loadIndex);
                if (0 === res.code) {
                  layer.close(dIndex);
                  layer.msg(res.msg, {icon: 1});
                  insTb.reload({page: {curr: 1}});
                } else {
                  layer.msg(res.msg, {icon: 2, anim: 6});
                }
              });
              return false;
            });
          }
        });
      } else if ('class' === obj.event) {
        admin.open({
          type: 1,
          title: '班级分配',
          area: ["450px", "200px"],
          content: $('#classDialog').html(),
          success: function (layero, dIndex) {
            $('#userId').val(obj.data.userId);
            // 禁止出现滚动条
            $(layero).children('.layui-layer-content').css('overflow', 'visible');
            form.render('select');

            // 表单提交事件
            form.on('submit(classSubmit)', function (data) {
              var loadIndex = layer.load(2);
              $.post('${ctxPath}/base/student/updateClassNo', data.field, function (res) {
                layer.close(loadIndex);
                if (0 === res.code) {
                  layer.close(dIndex);
                  layer.msg(res.msg, {icon: 1});
                  insTb.reload({page: {curr: 1}});
                } else {
                  layer.msg(res.msg, {icon: 2, anim: 6});
                }
              });
              return false;
            });
          }
        });
      }
    });

    /* 表格头工具栏点击事件 */
    table.on('toolbar(userTable)', function (obj) {
      if ('add' === obj.event) { // 添加
        showEditModel();
      } else if ('del' === obj.event) { // 删除
        var checkRows = table.checkStatus('userTable');
        if (!checkRows || !checkRows.data || 0 === checkRows.data.length) {
          return layer.msg('请选择要删除的数据', {icon: 2, anim: 6});
        }
        var ids = checkRows.data.map(function (d) {
          return d.userId;
        });
        doDel({ids: ids});
      }
    });


    /* 删除 */
    function doDel(obj) {
      if (obj.ids) {
        admin.confirm('确定要删除选中数据吗？', function (i) {
          layer.close(i);
          var loadIndex = layer.load(2);
          admin.req('${ctxPath}/sys/user/removeBatch', JSON.stringify(obj.ids), function (res) {
            layer.close(loadIndex);
            if (0 === res.code) {
              layer.msg(res.msg, {icon: 1});
              insTb.reload({page: {curr: 1}});
            } else {
              layer.msg(res.msg, {icon: 2, anim: 6});
            }
          }, 'post');
        });
      } else {
        var loadIndex = layer.load(2);
        $.get('${ctxPath}/sys/user/remove', {id: obj.data.userId}, function (res) {
          layer.close(loadIndex);
          if (0 === res.code) {
            layer.msg(res.msg, {icon: 1});
            insTb.reload({page: {curr: 1}});
          } else {
            layer.msg(res.msg, {icon: 2, anim: 6});
          }
        });
      }
    }


    /* 显示表单弹窗 */
    function showEditModel(mData) {
      admin.open({
        type: 1,
        title: (mData ? '修改' : '添加') + '学生',
        content: $('#userEditDialog').html(),
        success: function (layero, dIndex) {
          if (mData) {
            $(layero).find('[name="password"]').parent().parent().remove();
            $('#userName').prop('disabled', true).addClass('layui-disabled');
          }
          // 回显表单数据
          form.val('userEditForm', mData);
          // 表单提交事件
          form.on('submit(userEditSubmit)', function (data) {
            var loadIndex = layer.load(2);
            admin.req(mData ? '${ctxPath}/base/student/update' : '${ctxPath}/base/student/save', JSON.stringify(data.field), function (res) {
              layer.close(loadIndex);
              if (0 === res.code) {
                layer.close(dIndex);
                layer.msg(res.msg, {icon: 1});
                insTb.reload({page: {curr: 1}});
              } else {
                layer.msg(res.msg, {icon: 2, anim: 6});
              }
            }, 'post');
            return false;
          });
          // 禁止弹窗出现滚动条
          $(layero).children('.layui-layer-content').css('overflow', 'visible');
        }
      });
    }

    window.refreshTab = function() {
      insTb.reload();
    }
  });
</script>
</body>
</html>
